@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    background-color: rgb(255, 218, 218);
    overflow: hidden;
    font-family: 'VT323', monospace;;
    font-size: 32px;
}

/* SPACE FOR TITLES */
.Main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #640202;
}
/* MAIN CONTAINERS FOR TILES */
.Container{
    display: flex;
    height: 50vhh;
    width:40vw;
    background-color: rgb(240, 224, 255);
    justify-content: space-around;
    flex-wrap: wrap;
    padding:10px;
    border-radius: 8px;
    box-shadow: rgb(196, 196, 196) 0px 0px 10px 5px ;
}
/* GAME COMPLETION */
.gameOver{
    display: none;
}
.GameWon{
    display:none;
}


/* REPRESENTING SCORE CONTAINER */
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #640202;
}
/* REPRESENTING SCORE VALUE */
.score span{
    margin-left: 5px;
}

/* REPRESENTING TILES */
.Box,.x0{ 
 background: violet;
 width:8vw;
 height: 8vh;
 margin:1vw;
 display:flex ;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
}
.Box:hover{

 box-shadow: rgb(196, 196, 196) 0px 0px 5px 5px ;
    transition: all 0.3s ease-in-out;
}


/* TO KEEP CHANGING COLOURS OF TILES WITH DIFFERENT MULTIPLIERS */
.x2{
    background: #fffb00;
}
.x4{
    background: #a6ca50;
}
.x8{
    background: #d6d459;
    color: rgb(0, 0, 0);
}

.x16{
    background: #66bfc5;
    color: aliceblue;
}

.x32{
    background: #fc6969;
    color: aliceblue;
}
.x64{
    background: #d43636;
    color: aliceblue;
}
.x128{
    background: #b81313;
}

.x256{
    background: #7a0000;
}

.x512{
    background: #b3682a;
}


.x1024{
    background: #964c0f;
    color: white;
}

.x2048{
    background: #960f52;
    color: white;
}